[Desktop Entry]
Name=Live status checker
Comment=Reports whether the system is in persistent or live mode
Keywords=System;Status;Live;
Exec=systemctl --user start livecheck.service
Terminal=false
Type=Application
Categories=System;
Icon=drive-multidisk
