{
	"layer": "top",
	"height": 30,
	"modules-right": ["battery", "tray", "clock"],
	"battery": {
		"format": "Battery: {capacity}% {icon}"
	},
	"clock": {
		"format": "{:%a, %d. %b  %H:%M:%S}"
	},
	"tray": {
		"icon-size": 21,
		"spacing": 10
	}
}
