## Copyright (C) 2012 - 2022 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: desktop-config-dist
Section: misc
Priority: optional
Maintainer: Algernon <33966997+Algernon-01@users.noreply.github.com>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13)
Homepage: https://github.com/Kicksecure/desktop-config-dist
Vcs-Browser: https://github.com/Kicksecure/desktop-config-dist
Vcs-Git: https://github.com/Kicksecure/desktop-config-dist.git
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: desktop-config-dist
Architecture: all
Provides: whonix-xfce-desktop-config
Replaces: whonix-xfce-desktop-config
Conficts: whonix-xfce-desktop-config
Depends: ${misc:Depends}
Description: Configuration for Derivative Xfce Desktop
 Sets desktop and display setting, wallpaper and desktop icons.
 Sets icon theme and style.
 Settings for the default panel aka task bar, like panel position/color/size
 and panel plugins/shortcuts.
 .
 Autologin for user 'user' setting in lightdm.
 .
 Live check systray indicator which indicates the status of grub-live, whether
 the system was booted into persistent or live mode. See also:
 https://www.kicksecure.com/wiki/grub-live
 .
 Adds start menu entries for web browser, terminal emulator, file manager.
 .
 Sets Whisker Menu for better usability.
 .
 Disable maximize windows when moving to top for better privacy.
 .
 Disables thumbnails for better security.
 .
 Disables save on exit for better privacy.

Package: desktop-config-dist-dependencies
Architecture: all
Depends: xfce4-whiskermenu-plugin, xfce4-genmon-plugin,
 arc-theme, gnome-themes-extra, gnome-themes-extra-data, gtk2-engines-murrine,
 gnome-colors-common, adwaita-icon-theme,
 ${misc:Depends}
Description: Dependencies of desktop-config-dist
 A metapackage with dependencies for package desktop-config-dist.
 .
 Only useful for Non-Qubes. Not useful in Qubes.
