## Copyright (C) 2012 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: whonix-xfce-desktop-config
Section: misc
Priority: optional
Maintainer: Algernon <33966997+Algernon-01@users.noreply.github.com>
Build-Depends: debhelper (>= 12)
Homepage: https://github.com/Whonix/whonix-xfce-desktop-config
Vcs-Browser: https://github.com/Whonix/whonix-xfce-desktop-config
Vcs-Git: https://github.com/Whonix/whonix-xfce-desktop-config.git
Standards-Version: 4.3.0

Package: whonix-xfce-desktop-config
Architecture: all
Depends: xfce4-whiskermenu-plugin, xfce4-genmon-plugin,
 arc-theme, gnome-themes-extra, gnome-themes-extra-data, gtk2-engines-murrine,
 gnome-colors-common, adwaita-icon-theme,
 ${misc:Depends}
Description: Configuration for Whonix Xfce Desktop
 Sets desktop and display setting, wallpaper and desktop icons.
 Sets icon theme and style.
 Settings for the default panel aka task bar, like panel position/color/size
 and panel plugins/shortcuts.
 .
 Autologin for user 'user' setting in lightdm.
 .
 Live check systray indicator which indicates the status of grub-live, whether
 the system was booted into persistent or live mode. See also:
 https://www.whonix.org/wiki/Whonix_Live
 .
 Adds start menu entries for web browser, terminal emulator, file manager.
 .
 Sets Whisker Menu for better usability.
 .
 Disable maximize windows when moving to top for better privacy.
 .
 Disables thumbnails for better security.
 .
 Disables save on exit for better privacy.
