[Unit]
Description=Set speaker volume to a safe value on bootup
ConditionPathExists=!/usr/share/qubes/marker-vm
After=pipewire-pulse.service

[Service]
Type=oneshot
ExecStart=set-safe-speaker-volume
RemainAfterExit=true

[Install]
WantedBy=default.target
