[Unit]
Description=Builds config files for greetd
ConditionPathExists=!/usr/share/qubes/marker-vm
DefaultDependencies=no
Requires=sysinit.target
Requires=local-fs.target
Before=sysinit.target
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/libexec/desktop-config-dist/greetd-config-build

[Install]
WantedBy=multi-user.target
