[Unit]
Description=Obtains lsblk output for use by livecheck

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/share/livecheck/livecheck-lsblk

[Install]
WantedBy=multi-user.target
