[Unit]
Description=Obtains lsblk output for use by livecheck
[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=bash -c 'mkdir -p /run/desktop-config-dist; /bin/lsblk --noheadings --raw --output RO > /run/desktop-config-dist/livecheck-lsblk'
[Install]
WantedBy=multi-user.target
