#!/usr/bin/env zsh

## Credits:
## https://github.com/tpope/dotfiles
## https://github.com/LukeSmithXYZ/voidrice
## https://github.com/jeffreytse/zsh-vi-mode/blob/master/zsh-vi-mode.zsh
## https://github.com/cloudhead/dotfiles/blob/master/.zshrc

## base dir
zsh_custom_dir="/etc/zsh"

## history
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000

## options
## - history
setopt hist_expire_dups_first # purge dups first
setopt hist_ignore_dups # ignore dups in history list
setopt hist_verify # if command has hist expansion, show it before executing
## - files
setopt autocd
setopt nomatch # if a pattern has no matches print an error
setopt numericglobsort # sort file names numerically when relevant
setopt magicequalsubst # filename expansion for 'opt=arg'
## - words
setopt interactivecomments
## - prompt
setopt promptsubst
setopt printexitvalue

# https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/safe-paste/safe-paste.plugin.zsh
set zle_bracketed_paste  # Explicitly restore this zsh default
autoload -Uz bracketed-paste-magic
zle -N bracketed-paste bracketed-paste-magic

## base for any shell
source ${zsh_custom_dir}/shrc

## prompt
if test -f ${zsh_custom_dir}/zshrc_prompt; then
  source ${zsh_custom_dir}/zshrc_prompt
fi

## completion
if test -f ${zsh_custom_dir}/zshrc_completions; then
  source ${zsh_custom_dir}/zshrc_completions
fi

## key bindings
if test -f ${zsh_custom_dir}/zshrc_bindkeys; then
  source ${zsh_custom_dir}/zshrc_bindkeys
fi

## enable auto-suggestions based on the history
if test -f /usr/share/zsh-autosuggestions/zsh-autosuggestions.zsh; then
  source /usr/share/zsh-autosuggestions/zsh-autosuggestions.zsh
  # change suggestion color
  ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=#999'
fi

## highlight commands as you type
if test -f /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh &&
  [ "$color_prompt" = yes ]
then
  source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
fi

## enable command-not-found if installed
if test -f /etc/zsh_command_not_found; then
  source /etc/zsh_command_not_found
fi
